{
 :duct.core/environment :production

 :duct.server.http/jetty
 {:port 3000}

 :duct.database/sql
 {:connection-uri #duct/env ["JDBC_URL" :or "jdbc:postgresql://localhost:5432/postgres?user=postgres&password=postgres"]}

 :etlp-mapper.auth-component/auth
 {:issuer   #duct/env ["OIDC_ISSUER"]
  :audience #duct/env ["OIDC_AUDIENCE"]
  :jwks-uri #duct/env ["OIDC_JWKS_URI" :or "http://localhost:8080/realms/mapify/protocol/openid-connect/certs"]}

 :etlp-mapper.auth-component/require-org {}}

 
