{:duct.server.http/jetty
 {:port    3031}

 :duct.database/sql
 {:connection-uri #duct/env ["JDBC_URL" :or "jdbc:postgresql://localhost:5432/postgres?user=postgres&password=postgres"]}

 :etlp-mapper.auth-component/auth
 {:issuer   #duct/env ["OIDC_ISSUER" :or "http://localhost:8080/realms/mapify"]
  :audience #duct/env ["OIDC_AUDIENCE" :or "mapify-api"]
  :jwks-uri #duct/env ["OIDC_JWKS_URI" :or "http://localhost:8080/realms/mapify/protocol/openid-connect/certs"]}

 :etlp-mapper.auth-component/require-org {}

 :etlp-mapper.auth-component/require-role {}

 :etlp-mapper.invite/token
 {:app-secret #duct/env ["APP_SECRET" :or "dev-secret"]
  :invite-ttl-days #duct/env ["INVITE_TTL_DAYS" :or 7]}}
